# Electron specific configuration
# Use ARM64 Electron binaries on Apple Silicon
target_arch=arm64

# Progress indicators
progress=true

# Faster installs
prefer-offline=true

# Save exact versions
save-exact=true
